@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: variables.$white;
  font-family: variables.$font;
}

:root {
  font-size: 10px;
}

a {
  text-decoration: none;
}

a[aria-current] {
  &::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: variables.$fern-green;
    position: absolute;
    left: 0;
    bottom: -5%;
  }
}

li {
  list-style: none;
}
