@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;
}

:root {
  font-size: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
