// FontSize
$mobileText: 1.6rem;
$desktopText: 2rem;
$mobileHeading: 2.08rem;
$desktopHeading: 3.92rem;

// Radius
$smallRadius: 0.5rem;
$mediumRadius: 1rem;
$bigRadius: 2rem;

// Color
$black: #191414;
$white: #e3e3e3;
$timberwolf: #dad7cdff;
$laurel-green: #a3b18aff;
$fern-green: #588157ff;
$hunter-green: #3a5a40ff;
$brunswick-green: #344e41ff;

// Spacing
$xs: 1rem;
$s: 2rem;
$m: 3rem;
$l: 4rem;
$xl: 5rem;
$xxl: 6rem;

$font: "Lato", "sans-serif";
