@use "../Global/variables.scss";

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 3fr));
  place-content: center;
  gap: variables.$s;
  margin-top: variables.$m;
}
