@import "../Global/variables.scss";
@import "../Global/mixin.scss";

.presentation__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: $m;
  p,
  li {
    font-size: $mobileText;
  }

  h1 {
    font-size: clamp($mobileHeading, 3vw, $desktopHeading);
    text-align: center;
    margin-bottom: $s;
  }
  button {
    align-self: center;
    background-color: $laurel-green;
    color: #000;
    padding: $xs;
    font-size: $mobileText;
    font-weight: 300;
    border: 1px solid $black;
    border-radius: $smallRadius;
    width: $xxl * 3;
    &:hover {
      cursor: pointer;
      background-color: darken($laurel-green, 5%);
    }
    &:active {
      background-color: darken($laurel-green, 15%);
    }
  }
}

@include desktopSize {
  .presentation__container {
    p,
    li {
      font-size: $desktopText;
    }
  }
}
