@use "../Global/variables.scss";
@use "../Global/mixin.scss";
@use "sass:color";

.presentation__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: variables.$m;
  p,
  li {
    font-size: variables.$mobileText;
  }

  h1 {
    font-size: clamp(variables.$mobileHeading, 3vw, variables.$desktopHeading);
    text-align: center;
    margin-bottom: variables.$s;
  }
  h2 {
    font-size: clamp(variables.$mobileHeading, 1.5vw, variables.$desktopHeading);
    text-align: center;
    margin-bottom: variables.$s;
  }
  p > span {
    text-decoration: underline;
  }
  button,
  a {
    align-self: center;
    background-color: variables.$laurel-green;
    color: #000;
    padding: variables.$xs;
    font-size: variables.$mobileText;
    font-weight: 300;
    border: 1px solid variables.$black;
    border-radius: variables.$smallRadius;
    width: variables.$xxl * 3;
    text-align: center;
    &:hover {
      cursor: pointer;
      background-color: color.scale(variables.$laurel-green, $lightness: 15%);
    }
    &:active {
      background-color: color.scale(variables.$laurel-green, $lightness: 15%);
    }
  }
}

@include mixin.desktopSize {
  .presentation__container {
    p,
    li {
      font-size: variables.$desktopText;
    }
  }
}
