@import "../Global/variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 80vh;
  div {
    display: flex;
    flex-direction: column;
  }
  button {
    margin-top: 2rem;
    padding: 0.5rem;
    background-color: $white;
    padding: $xs;
    font-size: $mobileText;
    font-weight: 300;
    border: 1px solid $black;
    border-radius: $smallRadius;
    &:hover {
      cursor: pointer;
      background-color: lighten($white, 20%);
    }
  }
}
