@use "../Global/variables.scss";
@use "sass:color";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 80vh;
  div {
    display: flex;
    flex-direction: column;
  }
  button,
  a {
    margin-top: 2rem;
    padding: 0.5rem;
    text-align: center;
    background-color: variables.$laurel-green;
    color: variables.$black;
    padding: variables.$xs;
    font-size: variables.$mobileText;
    font-weight: 300;
    border: 1px solid variables.$black;
    border-radius: variables.$smallRadius;
    width: 20rem;
    &:hover {
      cursor: pointer;
      background-color: color.adjust(variables.$white, $lightness: 20%);
    }
  }
}
