@use "../Global/variables.scss";
@use "../Global/mixin.scss";

.term__container {
  display: flex;
  flex-direction: column;
  gap: variables.$s;
  margin-top: 3rem;

  h1 {
    font-size: clamp(variables.$mobileHeading, 1.3vw, variables.$desktopHeading);
    text-align: center;
  }

  p {
    text-align: justify;
    font-size: clamp(variables.$mobileText, 1.3vw, variables.$desktopText);
  }
}
