@import "../Global/variables.scss";
@import "../Global/mixin.scss";

.card__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: $m 0;
  border: 1px solid $black;
  padding: $s;
  background-color: $timberwolf;
  border-radius: $mediumRadius;

  figure {
    display: flex;
    flex-direction: column;
    gap: $s;
    img{
      border-radius: $smallRadius;
    }
  }
  figcaption {
    font-size: $mobileText;
    text-align: center;
  }
}

.logo__container {
  min-width: 7rem;
  max-width: 10rem;
  margin: auto;
  &:hover {
    cursor: pointer;
  }
}

@include desktopSize {
  .card__container {
    display: flex;
    position: relative;
    margin: $m 0;
    figcaption {
      font-size: $mobileText;
      text-align: center;
    }
  }
}
