@import "../Global/variables.scss";
@import "../Global/mixin.scss";

.card__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: -1;
  margin: $m 0;
  figcaption {
    font-size: $mobileText;
    text-align: center;
  }
}

@include desktopSize {
  .card__container {
    display: flex;
    position: relative;
    z-index: -1;
    margin: $m 0;
    figcaption {
      font-size: $mobileText;
      text-align: center;
    }
  }
}
