@import "../Global/variables.scss";
@import "../Global/mixin.scss";

.footer__container {
  position: fixed;
  bottom: 0%;
  padding: $xs;
  background-color: darken($color: $timberwolf, $amount: 20%);
  width: 100%;
  display: flex;
  justify-content: center;

  a {
    color: $black;
    font-size: clamp($mobileText, 1.3vw, $desktopText);
  }
}
