@use "../Global/variables";
@use "../Global/mixin";
@use "sass:color";

.footer__container {
  position: fixed;
  bottom: 0%;
  padding: variables.$xs;
  background-color: color.adjust(variables.$timberwolf, $lightness: 20%, $space: hsl);
  width: 100%;
  display: flex;
  justify-content: center;

  a {
    color: variables.$black;
    font-size: clamp(variables.$mobileText, 1.3vw, variables.$desktopText);
  }
}
