@import "../Global/variables.scss";
@import "../Global/mixin.scss";

.container__hamb {
  grid-row: 1;
  grid-column: 12;
  width: 2rem;

  span {
    display: block;
    position: relative;
    height: 0.2rem;
    width: 100%;
    border-radius: $mediumRadius;
    background-color: $black;
    transition-property: transform;
    transition-duration: 0.2s;
  }

  span:nth-child(1) {
    top: 0.5rem;
  }

  span:nth-child(2) {
    bottom: 0.5rem;
  }

  span:nth-child(2).toggle {
    bottom: 0rem;
  }
}

.toggle {
  span:nth-child(1) {
    top: 0.3rem;
    transform: rotate(45deg);
  }

  span:nth-child(2) {
    bottom: 0rem;
    transform: rotate(-45deg);
  }
}

@include desktopSize {
  .container__hamb {
    display: none;
  }
}
