.loader {
  place-self: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
  box-shadow: 32px 0 black, -32px 0 black;
  position: relative;
  animation: flash 1s ease-out infinite;
  animation-timing-function: steps(5, 10);
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
