@use "../Global/variables.scss";
@use "../Global/mixin.scss";

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  place-items: center;
  background-color: variables.$timberwolf;
  row-gap: variables.$xs;
  position: fixed;
  z-index: 10;
  padding: 1rem;
  width: 100%;
  p {
    grid-row: 1;
    font-size: clamp(variables.$mobileHeading, 2vw, variables.$desktopHeading);
  }
}

.nav {
  grid-column: 1 / span 12;
  grid-row: 2;
  ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: variables.$xs;
    li {
      font-size: variables.$mobileText;
      position: relative;
      &:hover {
        cursor: pointer;
      }
      a {
        color: variables.$black;
        &:hover {
          cursor: pointer;
        }
      }
    }
    form button {
      bordder: none;
      background-color: transparent;
      color: variables.$black;
      border: none;
      padding: 0;
      border-radius: variables.$xs;
      outline: none;
      font-size: variables.$mobileText;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@include mixin.desktopSize {
  .container {
    p {
      grid-column: 1;
    }
  }
  .nav {
    grid-row: 1;
    place-self: end;
    align-self: center;
    ul {
      flex-direction: row;
      column-gap: variables.$s;
      li,
      form button {
        font-size: variables.$desktopText;
      }
    }
  }
}
