@use "../Global/variables.scss";
@use "../Global/mixin.scss";
@use "sass:color";

.pagination__container {
  display: flex;
  flex-direction: row;
  gap: variables.$s;
  justify-content: center;
  align-items: center;
  padding: variables.$s;
  button {
    background-color: variables.$kombu-green;
    color: variables.$white;
    padding: variables.$xs;
    font-size: variables.$mobileText;
    font-weight: 300;
    border: none;
    border-radius: variables.$smallRadius;
    min-width: 10rem;
    width: 10rem;
    max-height: 4rem;
    &:hover {
      cursor: pointer;
      background-color: color.adjust(variables.$kombu-green, $lightness: 5%, $space: hsl);
    }
    &:active {
      background-color: color.adjust(variables.$kombu-green, $lightness: 7%, $space: hsl);
    }
    &:disabled {
      cursor: not-allowed;
      background-color: transparent;
      border: 1px solid black;
      color: black;
    }
  }
}
