@use "../Global/variables.scss";
@use "sass:color";

.search__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  row-gap: variables.$s;
  margin-bottom: variables.$m;
  margin-top: variables.$m;

  h1 {
    grid-column: 1 / span 12;
    place-self: center;
    font-size: clamp(variables.$mobileHeading, 2vw, variables.$desktopHeading);
  }

  div {
    grid-column: 1 / span 12;
    place-self: center;
    gap: variables.$s;
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    button {
      background-color: variables.$laurel-green;
      color: #000;
      padding: variables.$xs;
      font-size: variables.$mobileText;
      font-weight: 300;
      border: none;
      border-radius: variables.$smallRadius;

      &:hover {
        cursor: pointer;
        background-color: color.adjust(variables.$laurel-green, variables.$lightness: 5%, variables.$space: hsl);
      }
      &:active {
        background-color: color.adjust(variables.$laurel-green, variables.$lightness: 15%, variables.$space: hsl);
      }
    }
  }
}

.active {
  box-shadow: 2px 2px 5px 0px black;
}

.search__container__loader {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  row-gap: variables.$s;
  margin-bottom: variables.$m;
  margin-top: variables.$m;

  h1 {
    grid-column: 1 / span 12;
    place-self: center;
    height: 30px;
    width: 300px;
    font-size: clamp(variables.$mobileHeading, 2vw, variables.$desktopHeading);
    animation: flash 1s linear infinite;
    background-color: variables.$laurel-green;
  }

  div {
    grid-column: 1 / span 12;
    place-self: center;
    gap: variables.$s;
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    button {
      display: flex;
      gap: variables.$xs;
      align-items: center;
      justify-content: center;
      background-color: variables.$laurel-green;
      color: #000;
      padding: variables.$xs 10px;
      font-size: variables.$mobileText;
      font-weight: 300;
      border: none;
      border-radius: variables.$smallRadius;
      width: 200px;
      height: 48px;
      text-align: center;
      animation: flash 1s linear infinite;

      &:hover {
        cursor: pointer;
        background-color: color.adjust(variables.$laurel-green, variables.$lightness: 5%, variables.$space: hsl);
      }
      &:active {
        background-color: color.adjust(variables.$laurel-green, variables.$lightness: 15%, variables.$space: hsl);
      }

      &[aria-pressed="true"] {
        box-shadow: 2px 2px 5px 0px black;
      }
    }
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
