@import "../Global/variables.scss";
@import "../Global/mixin.scss";

.card__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: $m 0;
  font-size: clamp($mobileText, 1.5vw, $desktopText);
  column-gap: $m;
  min-height: 20rem;
  max-height: 20rem;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    border: 1px solid black;
    background-color: black;
    top: 0;
  }
}

.info__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $m;
  width: 100%;
}
.logo__container {
  min-width: 7rem;
  max-width: 10rem;
  &:hover {
    cursor: pointer;
  }
}

.cover__container {
  min-width: 6.4rem;
}
